body {
  font-family: 'Somarsans', sans-serif; 
  background-color: #FDFDFD;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  position: absolute;
  top: 20px;
  left: 20px;
}
.logo {
  width: 70px;
}
.generator {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px #E5E5E5;
  width: 350px;
  text-align: center;
}
h1 {
  color: #2C3E50;
}
label {
  color: #34495E;
  display: block;
  margin-bottom: 10px;
}
input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}
input {
  border: 1px solid #BDC3C7;
}
button {
  background-color: #5EE1B5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #A23DA0;
}
.policy-output {
  margin-top: 20px;
  font-size: 14px;
  color: #2C3E50;
  text-align: left;
  background-color: #F8F9FA;
  padding: 20px;
  border-radius: 8px;
  display: none;
}
